<footer>
    <p>&copy; 2024 eASY Shop.</p>
    <div>
        <a href="https://www.instagram.com" aria-label="Instagram" target="_blank">
            <i class="bi bi-instagram"></i>
        </a>
        &nbsp; &nbsp;
        <a href="https://www.facebook.com" aria-label="Facebook" target="_blank">
            <i class="bi bi-facebook"></i>
        </a>
        &nbsp; &nbsp;
        <a href="https://www.twitter.com" aria-label="Twitter" target="_blank">
            <i class="bi bi-twitter-x"></i>
        </a>
    </div>
</footer>

<style>
    footer {
        background-image: linear-gradient(to top, #2fb4bd, rgb(69, 190, 209));
        text-align: center;
        padding: 1em 0;
        color: white;
    }

    footer div {
        margin-top: 0.5em;
    }

    footer a {
        color: white;
        text-decoration: none;
    }

    footer a:hover {
         color: white;
        text-decoration: none;
    }
</style>
