<footer>
    <p> &copy; 2024 eASY Shop.</p>

</footer>
<style>
    footer {
        background-image: linear-gradient(to top, #2fb4bd, rgb(69, 190, 209));
        text-align: center;
        padding: 1em 0;
        color: white;

    }

    footer p {
        padding: 0;
        margin: 0;
    }
</style>