<section class="page_404">
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-12">
                <div class="col-12 col-offset-1  text-center">

                    <div class="four_zero_four_bg">
                        <h1 class="text-center ">404</h1>
                    </div>

                    <div class="contant_box_404">
                        <h3 class="h2">
                            Look like you're lost
                        </h3>

                        <p>the page you are looking for not avaible!</p>

                        <a href="javascript:history.back()" class="toBack">Go Back</a>
                                        
                                   
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>

<style>
    .page_404 {
        padding: 40px 0;
        background: #fff;
        font-family: 'Arvo', serif;
    }

    .page_404 img {
        width: 100%;
    }

    .four_zero_four_bg {

        background-image: url('/images/500.gif');
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .four_zero_four_bg h1 {
        font-size: 80px;

    }

    .four_zero_four_bg h3 {
        font-size: 80px;
    }

    .toBack {
        background-color: #3badbc;
        padding: 8px;
        color: white;
        font-weight: bold;
        width: 6em;
        display: inline-block;
        margin: 15px 0;
        border-radius: 20px;
        box-shadow: 0 6px 8px rgba(49, 133, 158, 0.5);
        transition: all 0.3s ease;
    }

    .toBack:hover {
        color: white;
        transform: scale(1.1);
    }

    .contant_box_404 {
        margin-top: -50px;
    }

    a {
        color: rgb(14, 103, 113);
        text-decoration: none;
        /* Remove underline by default */
    }

    a:hover {
        color: rgb(36, 145, 157);
        text-decoration: none;
        /* Ensure underline does not appear on hover */
    }

    .contact{
        font-size: 18px;
    }
</style>