<section class="page_500">
    <div class="container-fluid mt-2">

        <div class="error">
            <span class='error-num'>5</span>
            <div class='eye'></div>
            <div class='eye'></div>
            <p class='sub-text'>Oh eyeballs! Something went wrong. We're <i>looking</i> to see what happened.</p>
            <a href='javascript:history.back()' class="toHome">Go back</a>
        </div>

    </div>
</section>

<style>
    .page_500 {
        background-image: linear-gradient(to bottom, rgb(46, 142, 171),rgb(147, 194, 214)) ;
        
        height: 100vh;
        color: white;
        font-family: 'Arial Black';
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .error-num {
        font-size: 8em;
    }

    .eye {
        background: #fff;
        border-radius: 50%;
        display: inline-block;
        height: 100px;
        position: relative;
        width: 100px;
    }

    .eye::after {
        background: #000;
        border-radius: 50%;
        bottom: 56.1px;
        content: '';
        height: 33px;
        position: absolute;
        right: 33px;
        width: 33px;
    }

    .sub-text {
        margin-bottom: 4em;
    }

    .toHome {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }

    .toHome:hover {
        color: lightgray;
    }
</style>

<script>
    $('body').mousemove(function (event) {
        var e = $('.eye');
        var x = (e.offset().left) + (e.width() / 2);
        var y = (e.offset().top) + (e.height() / 2);
        var rad = Math.atan2(event.pageX - x, event.pageY - y);
        var rot = (rad * (180 / Math.PI) * -1) + 180;
        e.css({
            '-webkit-transform': 'rotate(' + rot + 'deg)',
            'transform': 'rotate(' + rot + 'deg)'
        });
    });

</script>