<section>
    <div class="container mt-5 text-center">
        <h1>{{error}}</h1>
    </div>
    <div class=" mt-5 text-center">
        <h3>Add some products </h3>
        <a href="/sell-products" class="btn btn-primary">Sell products</a>
    </div>
</section>