<section>
    <div class="container mt-5 " >
        <form action="" id="checkout-form">
            <div class="row">

                <div class="col-md-6 mr-4">
                    <h2>Enter Delivery Address</h2>

                    <div  class="mt-4">                        
                        <label for="address">Address</label>

                        <textarea class="form-control" type="text"  name="address" id="address" rows="5" placeholder="Name&#10House/Building Name&#10Street Locality/Area&#10District, State" required></textarea>

                        <label for="">Pincode</label>
                        <input type="text" id="pincode" name="pincode" class="form-control" placeholder="Pincode" required>

                        <label for="">Mobile</label>
                        <input type="tel" class="form-control" id="mobile" name="mobile" placeholder="Mobile" required>
                        <input type="text" name="userId" id="" value="{{user._id}}" hidden>
                    </div>
                </div>

                <div class="col-md-5 mt-5 pt-4 mb-3 " style="">
                    <div class="container  checkout">
                        <h5>Total Amount : ₹{{total}}</h5>
                        <hr>
                        <div class="payment">
                            <p>Payment method</p>
                            <label class="radio-inline " for="">
                                <input  type="radio" name="payment-method" value="COD" checked>Cash on Delivery

                            </label>

                            <label for="" class="radio-inline mt-2">
                                <input type="radio" name="payment-method" value="ONLINE">Online payment
                            </label>
                            <button id="checkoutBtn" class="btn float-right" type="submit">Checkout</button>
                        </div>
                    </div>
                </div>


            </div>
        </form>
    </div>

</section>
<script>
    $("#checkout-form").submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $('#checkout-form').serialize(),
            success: (response) => {

                if (response.codSuccess) {
                    location.href = '/order-success'
                 } else {
                    razorpayPayment(response)
                    
                }
            }
        })
    })

    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_Eiq5plL9zWA6bb", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
           "name": "eASY SHOP", //your business name
            "description": "Test Transaction",
            "image":"/images/eASY-razorpay.png" ,
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            //"callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
            "handler": function (response) {


                verifyPayment(response,order)
            },
    "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
                "name": "Gaurav Kumar", //your customer's name
                "email": "gaurav.kumar@example.com",
                "contact": "9000090000" //Provide the customer's phone number for better conversion rates 
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#2c8c9f"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    }
    
    function verifyPayment(payment,order){
        $.ajax({
            url:'/verify-payments',
            data:{
                payment,
                order
            },
            method:'post',
            success:(response)=>{
                if(response.status){
                    location.href = '/order-success'
                }else{
                    alert("Payment failed")
                }
            }
        })
    }
</script>
<style>
    input[type=radio] {
        width: 20px;
        height: 20px;
    }

    label.radio-inline {
        display: flex;
        align-items: center;
    }

    .checkout {
        border: 1px solid;
        border-radius: 3px;
        padding: 30px;
    }

    .payment {
        padding-bottom: 16px;
    }
    #checkoutBtn{
        border-radius: 20px;
        width: 150px;
        background-image: linear-gradient(to right, #1ba3a5, rgb(67, 187, 208));  
        color: white;
        font-weight: bold;
          
    }
    #checkoutBtn:hover{
        background-image: linear-gradient(to left, #1ba3a5, rgb(67, 187, 208)); 
    }
</style>