<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center pb-5">Create new account</h2>

            <form action="/signup" method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>First Name</label>
                        <input type="text" class="form-control" name="First_Name" placeholder="First Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Last Name</label>
                        <input type="text" class="form-control" name="Last_Name" placeholder="Last Name">
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="Email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="Password" placeholder="Password">
                </div>

                <div class="form-group">
                    <label>Gender</label>
                    <br>
                    <label class="radio-inline ml-2 mr-2" for="">
                        Male<input type="radio" class="ml-2 "  name="Gender" value="Male" checked>

                    </label>
                    <label for="" class="radio-inline  ml-2 mr-2 mt-1">
                        Female<input type="radio" class="ml-2 " name="Gender" value="Female">
                    </label>
                    <label for="" class="radio-inline  ml-2 mr-2 mt-1">
                        Others<input type="radio" class="ml-2 " name="Gender" value="Others">
                    </label>

                </div>
                <a href="/login">Already have an account ?</a>
                <button type="submit" class="btn btn-primary float-right">Signup</button>
            </form>

        </div>
    </div>
</div>