<section>
    <div class="container">
        <div class="row mt-5 pt-5 ">
            <div class="card ml-5 mt-3" style="width: 18rem; height: 10rem;">
               <a href="/account-info"> <div class="card-body">

                    <div class="d-flex flex-row align-items-center">
                        <div class="content">
                            <h5 class="card-title">Account info</h5>
                        </div>
                        <div class="icon ml-4">
                            <img src="/images/setting.png" style="block-size: 60px;" alt="">
                        </div>
                    </div>

                    <p class="card-subtitle mb-2 text-muted mt-2">Edit name, email and Delete account</p>
                </div> </a>
            </div>

           <a href="/your-products"> <div class="card ml-5 mt-3" style="width: 18rem; height: 10rem;">
                <div class="card-body">

                    <div class="d-flex flex-row align-items-center">
                        <div class="content">
                            <h5 class="card-title">Your Products</h5>
                        </div>
                        <div class="icon ml-4">
                            <img src="/images/report.png" style="block-size: 60px;" alt="">
                        </div>
                    </div>

                    <p class="card-subtitle mb-2 text-muted mt-2">View Your Products, status, edit, delete</p>
                </div> 
            </div></a>

            <div class="card ml-5 mt-3" style="width: 18rem; height: 10rem;">
              <a href="/sell-products"> <div class="card-body">

                    <div class="d-flex flex-row align-items-center">
                        <div class="content">
                            <h5 class="card-title">Sell Products</h5>
                        </div>
                        <div class="icon ml-4">
                            <img src="/images/seller.png" style="block-size: 60px;" alt="">
                        </div>
                    </div>

                    <p class="card-subtitle mb-2 text-muted mt-2">Start selling your Products</p>
                </div> </a> 
            </div>

        </div>
    </div>
</section>