<section>
  <div class="container-fluid mt-4">

    <div class=" text-center">
      <h2>eASY SHOP was empty</h2>
    </div>

    <div class="d-flex justify-content-center pb-3 col-12" id="img">
      <img src="/images/add-products.png" alt="Empty Cart">
    </div>

    <div class="text-center mb-4">
      <p>eASY Shop currently has no products available. Please add some products.</p>
      <a href="/admin/add-product" class="btn btn-success " id="sellProd">Add Product</a>
    </div>
  </div>

</section>

<style>
  #img img {
    width: 50%;
  }

  #sellProd {
    border-radius: 25px;
    color: white;
    background-image: linear-gradient(to right, #1e8f4b, rgb(2, 164, 89));
    transition: all 0.3s ease;
  }

  #sellProd:hover {
    background-image: linear-gradient(to left, #1e8f4b, rgb(2, 164, 89));
    color: white;
    transform: scale(1.1);
  }

  a {
    text-decoration: none;
    /* Remove underline by default */
    color: black;
  }

  a:hover {
    text-decoration: none;
    /* Ensure underline does not appear on hover */
    color: black;
  }
</style>